{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="section has-background-link-Light">
    <div class="container">
        <form id="formListaCorretores" action="" method="GET">
            {% csrf_token %}
            <input type="hidden" name="imprimir" id="imprimir" value="">
            <div class="field is-grouped is-flex is-align-itens-center is-flex-wrap-wrap">
                <label class="label p-2 mt-2">Nome do corretor: </label>
                 <div class="control is-expanded">
                    <input class="input" type="text" name="buscar" value="{{ request.GET.buscar }}"
                        placeholder="Digite o nome">
                 </div>
                 <div class="control">
                    <button type="button" class="button is-link" onClick="geraPdf(' ','formListaCorretores');">
                        Buscar
                    </button>
                 </div>
                 {% if object_list %}
                    <div class="control">
                        <button type="button" class="button is-link" onClick="geraPdf('pdf','formListaCorretores');">
                            Imprimir
                        </button>
                    </div>
                 {% endif %}
            </div>
        </form>
        {% if object_list %}
        <center><h1 class="subtitle is-size-4">Clientes Cadastrados </h1></center>
        <div class="table">
            <table class="table is-table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                <thead>
                <tr>
                    <th class="has-text-centered">Nome</th>
                    <th class="has-text-centered">Celular</th>
                    <th class="has-text-centered">Email</th>
                    <th class="has-text-centered">Foto</th>
                    <th class="has-text-centered" style="width: 100px;">Ações</th>
                </tr>
                </thead>
                <tbody>
                {% for corretor in object_list %}
                <tr>
                    <td class="has-text-centered"> {{ corretor.nome }} </td>
                    <td class="has-text-centered"> {{ corretor.celular }} </td>
                    <td class="has-text-centered"> {{ corretor.email }} </td>
                    <td class="has-text-centered">
                        <a href="#" data-toggle="modal" class="modal-target"
                            data-bulma-modal="modal{{corretor.id}}"
                           id="modal{{ corretor.id }}"> {{ corretor.foto }}
                        </a>
                    </td>
                    <td class="has-text-centered is-flex is-flex-wrap-nowrap is-justify-content-center">
                        <a href="{% url 'corretor_adicionar' %}" title="Adicionar">
                            <span class="icon">
                                <i class="fas fa-edit"></i>
                            </span>
                        </a>
                        <a href="{% url 'corretor_editar' corretor.pk %}" title="Editar">
                            <span class="icon">
                                <i class="fas fa-eye"></i>
                            </span>
                        </a>
                        <a href="{% url 'corretor_apagar' corretor.pk %}" title="Excluir">
                            <span class="icon">
                                <i class="fas fa-trash-alt"></i>
                            </span>
                        </a>
                    </td>
                    <div class="modal" id="modal{{corretor.id}}">
                        <div class="modal-background"></div>
                        <div class="modal-card">
                            <header class="modal-card-head">
                                <p class="modal-card-title">Imóvel Cód: {{ corretor.nome }}</p>
                                <button class="delete" aria-label="close" data-bulma-modal="close"
                                        id="btnClose"></button>
                            </header>
                            <section class="modal-card-body is-flex is-justify-content-center">
                                <div class="content">
                                    <p class="image is-400x400">
                                        <img src="{{ corretor.foto.thumb.url }}" class="img-fluid" alt=""/>
                                    </p>
                                </div>
                            </section>
                        </div>
                    </div>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <h2>Não existem corretores cadastrados cadastrados!</h2>
        {% endif %}
    </div>
</section>
{% endblock %}