{% extends 'base.html' %}
{% block content %}
<section class="section">
    <div class="container">
        <div class="columns is-mobile">
            <div class="column is-half is-offset-one-quarter">
                <h3 class="title is-size-3">Dados da Foto</h3>
                <p class="p-2 mt-2"><strong>Descrição: </strong> {{ object.descricao }}</p>
                <p class="p-2 mt-2"><strong>Imovel: </strong> {{ object.imovel }} </p>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p> Confirma a exclusão da Foto "{{ object }}"? </p>
                    <br/>
                    <button class="button is-link is-primary" type="submit">Apagar</button>
                    <button class="button is-danger is-pulled-right" type="reset">
                        <a href="{% url 'fotos' %}">Cancelar</a>
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}