{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    {% block head %}
        {% include 'head.html' %}
    {% endblock %}
    <body>
        <div class="container has-text-centered">
            <h1 class="title is-size-1">Sistema Imobiliaria</h1>
        </div>
        <section class="section has-background-link-light">
            {% if object_list %}
                <center><h1 class="subtitle is-size-4">Imóveis Cadastrados </h1></center>
                <div class="table">
                    <table class="table is-table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                        <thead>
                            <tr>
                                <th class="has-text-centered">Código</th>
                                <th class="has-text-centered">Proprietário(s)</th>
                                <th class="has-text-centered">Endereço</th>
                                <th class="has-text-centered">Valor</th>
                            </tr>
                        </thead>
                    <tbody>
                        {% for imovel in object_list %}
                        <tr>
                            <td>{{ imovel.codigo }}</td>
                            <td>
                                {% for proprietario in imovel.proprietarios %}
                                    {% if forloop.last %}
                                        {{ proprietario }}
                                    {% else %}
                                        {{ proprietario }},
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>{{ imovel.endereco }}</td>
                            <td>{{ imovel.valor }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <h2>Não existem imóveis cadastrados!</h2>
        {% endif %}
       </section>
    </body>
</html>