<!--{% load static %}-->
    <section class="section has-background-link-light">
        <div class="container">
            <section class="section">
                <div class="container">
                    <div class="level is-mobile">
                        <div class="level-item has-text-centered">
                            <div>
                                <p class="heading">Imóveis</p>
                                <p class="title"> {{ qtd_imoveis }} </p>
                            </div>
                        </div>
                        <div class="level-item has-text-centered">
                            <div>
                                <p class="heading">Proprietários</p>
                                <p class="title">{{ qtd_proprietarios }}</p>
                            </div>
                        </div>
                        <div class="level-item has-text-centered">
                            <div>
                                <p class="heading">Clientes</p>
                                <p class="title">{{ qtd_clientes }}</p>
                            </div>
                        </div>
                        <div class="level-item has-text-centered">
                            <div>
                                <p class="heading">Corretores</p>
                                <p class="title">{{ qtd_corretores }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>